:root {
  --primary: rgb(206, 0, 0);
  --primary-dark: rgb(167, 0, 0);
  --body-gray: rgb(244, 247, 249);
  --border-gray: #ecf0f2;
  --tag-blue: blue;
  --tag-blue-dark: rgb(1, 1, 167);
  --font-size-h1: calc(39.81rem / 16);
  --font-size-h2: calc(33.18rem / 16);
  --font-size-h3: calc(27.65rem / 16);
  --font-size-h4: calc(23.04rem / 16);
  --font-size-h5: calc(19.2rem / 16);
  --font-size-h6: calc(16rem / 16);
  --font-size-p: calc(16rem / 16);
  --font-size-small: calc(12.8rem / 16);
  --font-size-smaller: calc(10.24rem / 16);
  --font-size-smallest: calc(8.19rem / 16);
}

html {
  font-size: 100%;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-p);
  background-color: var(--body-gray);
}

body,
#comments *:not(i),
.wpforms-container * {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.wpforms-container * {
  font-family: "Barlow Semi Condensed", sans-serif !important;
}

main {
  flex-grow: 1;
}

p {
  margin-bottom: calc(10rem / 16);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

h1,
h2,
h3,
h4,
h5 {
  margin: calc(30rem / 16) 0 calc(13.8rem / 16);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.1s linear;
}

a:hover {
  color: var(--primary);
}

button {
  background: 0;
  border: none;
  padding: 0;
  margin: 0;
  transition: all 0.1s linear;
  transition-property: color, background-color;
  color: black;
}

ul,
ol {
  list-style-type: square;
}

blockquote {
  display: flex;
  flex-direction: column;
  margin-top: calc(30rem / 16);
  margin-bottom: calc(30rem / 16);
  font-size: calc(16rem / 16);
}

blockquote > cite {
  text-align: center;
  margin-top: calc(10rem / 16);
  font-style: normal;
  font-size: calc(12rem / 16);
  color: gray;
  font-weight: 300;
}

blockquote > p {
  font-style: italic;
  color: #343a40;
  line-height: 1.6;
  position: relative;
  z-index: 2;
  text-align: center;
  margin-bottom: 0;
}

blockquote::before {
  content: ",,";
  text-align: center;
  color: white;
  font-size: calc(50rem / 16);
  margin-top: calc(5rem / 16);
  margin-bottom: calc(20rem / 16);
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: calc(40rem / 16);
  height: calc(40rem / 16);
  background-color: var(--primary);
  line-height: 0.06;
  padding-left: calc(2rem / 16);
}

.about {
  display: flex;
  flex-direction: column;
}

.about__text {
  margin-bottom: calc(20rem / 16);
}

.btn-close {
  margin-left: auto;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact__content {
  display: flex;
  flex-direction: column;
}

.contact__content__text {
  order: 1;
  margin-bottom: calc(20rem / 16);
}

.contact__content__form {
  order: 2;
}

.contact__content__text > *:first-child {
  margin-top: 0rem;
}

.cookies-consent {
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 1000;
  width: 100%;
  border-top: calc(2rem / 16) solid white;
}

.cookies-consent-container {
  display: flex;
  flex-direction: column;
  padding-top: calc(10rem / 16);
  padding-bottom: calc(10rem / 16);
}
.cookies-consent__title {
  font-weight: var(--font-size-p);
  font-weight: 600;
  margin-bottom: calc(5rem / 16);
}

.cookies-consent__content {
  display: flex;
  flex-direction: column;
}

.cookies-consent__content__desc {
  font-size: calc(14rem / 16);
  margin-bottom: calc(15rem / 16);
  line-height: 1.3;
  font-weight: 300;
  color: #373737;
}

.cookies-consent__content__buttons {
  display: flex;
}

.cookies-consent__content__buttons button {
  border-radius: calc(5rem / 16);
  width: calc(150rem / 16);
  height: calc(50rem / 16);
  transition: 0.1s background-color linear;
  text-transform: uppercase;
  font-size: calc(12rem / 16);
}

.cookies-consent__content__buttons button:first-child {
  margin-right: calc(5rem / 16);
  background-color: white;
  border: calc(1rem / 16) solid black;
}

.cookies-consent__content__buttons button:first-child:hover {
  background-color: rgb(236, 236, 236);
}

.cookies-consent__content__buttons button:last-child {
  background-color: black;
  color: white;
}

.cookies-consent__content__buttons button:last-child:hover {
  background-color: rgb(50, 50, 50);
}

.container {
  max-width: calc(1200rem / 16);
  padding-left: calc(15rem / 16);
  padding-right: calc(15rem / 16);
}

.homepage {
  display: flex;
  flex-direction: column;
}

.homepage__hero {
  margin-top: calc(20rem / 16);
  margin-bottom: calc(20rem / 16);
}

.homepage__subhero-posts .post-wrapper {
  margin-bottom: calc(20rem / 16);
}

.homepage__feed {
  display: flex;
  flex-direction: column;
}

.homepage__feed__about {
  order: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: calc(15rem / 16);
  margin-top: calc(10rem / 16);
}

.homepage__feed__about > h3 {
  font-size: var(--font-size-h4);
  color: black;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: calc(5rem / 16);
  text-align: center;
}

.homepage__feed__about > p {
  font-size: calc(14rem / 16);
  font-weight: 400;
  margin-bottom: calc(5rem / 16);
  color: black;
  text-align: center;
}

.homepage__feed__about > a {
  display: flex;
  align-items: center;
  font-size: calc(14rem / 16);
  color: var(--primary);
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

.homepage__feed__about > a:first-of-type {
  margin-bottom: 0rem;
}

.homepage__feed__about > a:hover {
  color: var(--primary-dark);
}

.homepage__feed__posts {
  order: 2;
  flex-grow: 1;
}

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index__logo {
  width: calc(80rem / 16);
  border-radius: calc(4rem / 16);
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(229, 233, 235);
  padding: calc(15rem / 16) 0 0 0;
  font-weight: 300;
  font-size: calc(14rem / 16);
  border-top: calc(1rem / 16) solid rgb(210, 214, 216);
}

.main-footer,
.main-footer a {
  color: rgb(112, 112, 112);
}

.main-footer a:hover {
  color: var(--primary);
}

.main-footer__logo {
  width: calc(100rem / 16);
  border-radius: calc(7rem / 16);
  margin-bottom: calc(13rem / 16);
}

.main-footer__links {
  margin-bottom: calc(8rem / 16);
}

.main-footer__social {
  display: flex;
  align-items: center;
  margin-bottom: calc(8rem / 16);
}

.main-footer__social svg {
  width: calc(18rem / 16);
  height: calc(18rem / 16);
}

.main-footer__help {
  margin-top: calc(10rem / 16);
  padding-top: calc(7rem / 16);
  padding-bottom: calc(7rem / 16);
  background-color: rgb(0, 116, 205);
  color: white;
  width: 100%;
  text-align: center;
  padding-left: calc(40rem / 16);
  padding-right: calc(40rem / 16);
  letter-spacing: calc(0.5rem / 16);
}

.main-header {
  width: 100%;
  background-color: black;
  color: white;
  position: relative;
}

.main-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(80rem / 16);
}

.main-header__top .container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__top__logo {
  height: calc(60rem / 16);
  border-radius: calc(11.5rem / 16);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: calc(10rem / 16);
  left: 0;
  right: 0;
}

.main-header__top__menu,
.main-header__top__search {
  color: white;
}

.main-header__top__menu:hover,
.main-header__top__search:hover {
  color: var(--primary);
}

.main-header__top__menu svg {
  width: calc(20rem / 16);
  height: calc(20rem / 16);
}

.main-header__top__search svg {
  width: calc(18rem / 16);
  height: calc(18rem / 16);
}

.main-header__bottom {
  display: none;
  position: relative;
}

.main-header__bottom__categories {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.main-header__bottom__categories a {
  margin-left: calc(10rem / 16);
  margin-right: calc(10rem / 16);
  color: black;
  font-size: var(--font-size-p);
  letter-spacing: calc(0.8rem / 16);
  font-weight: 300;
  transition: all 0.1s linear;
  transition-property: font-weight, color;
  padding-top: calc(11rem / 16);
  padding-bottom: calc(11rem / 16);
}

.main-header__bottom__categories a.current,
.main-header__bottom__categories a:hover {
  color: var(--primary);
  border-bottom: calc(3rem / 16) solid var(--primary);
  padding-bottom: calc(8rem / 16);
}

.main-header__search {
  position: relative;
}

.main-header__search__form {
  width: 100%;
  padding-left: calc(15rem / 16);
  padding-right: calc(15rem / 16);
  padding: calc(10rem / 16) 0;
  display: none;
}

.main-header__search__form label {
  visibility: hidden;
  width: 0;
}

.main-header__search__form input {
  flex-grow: 1;
  margin-right: calc(10rem / 16);
  height: calc(40rem / 16);
  border-radius: calc(6rem / 16);
  border: calc(1rem / 16) solid gray;
  padding: calc(10rem / 16);
}

.main-header__search__form button {
  width: calc(80rem / 16);
  background-color: white;
  border: none;
  border-radius: calc(6rem / 16);
  transition: background-color 0.1s linear;
  background-color: rgb(206, 0, 0);
  color: white;
}

.main-header__search__form button:hover {
  background-color: var(--primary-dark);
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found__title {
  font-size: var(--font-size-h2);
  text-align: center;
}

.no-content {
  color: #999c9f;
  font-weight: 300;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.offcanvas-body a {
  padding: calc(15rem / 16) 0 calc(15rem / 16) calc(10rem / 16);
  text-transform: uppercase;
  font-size: calc(14rem / 16);
}

.offcanvas-body a:not(:first-of-type) {
  border-top: calc(1rem / 16) solid lightgray;
}

.offcanvas-body a.offcanvas-body-about,
.offcanvas-body a.offcanvas-body-facebook {
  border-top: calc(1rem / 16) solid black;
}

.offcanvas-body-facebook {
  display: flex;
  align-items: center;
}

.offcanvas-body a.offcanvas-body-facebook svg {
  width: calc(20rem / 16);
  height: calc(20rem / 16);
  margin-left: calc(2rem / 16);
}

.offcanvas-body a.current {
  color: var(--primary);
  border-left: calc(5rem / 16) solid var(--primary);
  padding-left: calc(10rem / 16);
}

.offcanvas-body a.offcanvas-body__logo {
  margin-top: auto;
  display: block;
  text-align: center;
  padding-right: calc(10rem / 16);
  border-top: 0;
  padding-bottom: 0;
}

.offcanvas-body__logo img {
  width: calc(100rem / 16);
  border-radius: calc(5rem / 16);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: calc(20rem / 16);
}

.page-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.page-view {
  display: none;
}

.page-numbers {
  width: calc(40rem / 16);
  height: calc(40rem / 16);
  background-color: white;
  border: calc(1rem / 16) solid var(--border-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.page-numbers:not(:last-child) {
  margin-right: calc(-1rem / 16);
}

.page-numbers:hover {
  border: calc(1rem / 16) solid var(--primary);
  z-index: 2;
}

.page-numbers.current {
  border: calc(1rem / 16) solid var(--primary);
  color: var(--primary);
  z-index: 2;
}

.pop-header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(40rem / 16);
  border-bottom: calc(1rem / 16) solid var(--primary);
  margin-top: calc(-40rem / 16);
  transition: margin-top 0.3s linear;
  z-index: 1000;
}

.pop-header.show {
  margin-top: 0rem;
}

.pop-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.pop-header__menu,
.pop-header__search {
  transition: color 0.1s linear;
}

.pop-header__menu:hover,
.pop-header__search:hover {
  color: var(--primary);
}

.pop-header__menu svg {
  width: calc(20rem / 16);
  height: calc(20rem / 16);
}

.pop-header__logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: calc(30rem / 16);
  width: auto;
  top: calc(5rem / 16);
  border-radius: calc(3rem / 16);
}

.pop-header__categories {
  display: none;
}

.pop-header__search__form {
  display: none;
  position: absolute;
  top: calc(5rem / 16);
  left: calc(14rem / 16);
  right: calc(14rem / 16);
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
}

.pop-header__search__form > label {
  display: none;
}

.pop-header__search__form > input {
  height: calc(40rem / 16);
  border-radius: calc(4rem / 16);
  border: calc(1rem / 16) solid black;
  padding: calc(10rem / 16);
  margin-right: calc(5rem / 16);
  width: 100%;
}

.pop-header__search__form > button {
  color: white;
  margin-left: calc(5rem / 16);
  background-color: var(--primary);
  border-radius: calc(4rem / 16);
  height: calc(40rem / 16);
  padding-left: calc(10rem / 16);
  padding-right: calc(10rem / 16);
  margin-left: auto;
}

.post {
  background-color: white;
  height: 100%;
  border: calc(1rem / 16) solid var(--border-gray);
  border-radius: calc(4rem / 16);
  display: flex;
  flex-direction: column;
}

.post__image {
  display: block;
  width: 100%;
  overflow: hidden;
  padding-top: 66%;
  position: relative;
}

.post__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: calc(4rem / 16) calc(4rem / 16) 0 0;
}

.post__text {
  padding: calc(10rem / 16) calc(13rem / 16) calc(10rem / 16) calc(13rem / 16);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.post__text > h2,
.post__text > h1 {
  font-size: calc(22rem / 16);
  margin-bottom: calc(10rem / 16);
  margin-top: 0;
  font-weight: 700;
}

.post__text > p {
  font-size: calc(14rem / 16);
  color: rgb(67, 67, 67);
  font-weight: 400;
  margin-bottom: calc(10rem / 16);
  letter-spacing: calc(0.3rem / 16);
  line-height: 1.4;
}

.post__text > .time-ago {
  display: block;
  margin-bottom: calc(30rem / 16);
}

.post__text > .post-categories {
  margin-top: auto;
}

.post-categories {
  display: flex;
  flex-wrap: wrap;
}

.post-categories a {
  font-size: var(--font-size-smaller);
  font-weight: 600;
  margin-bottom: calc(5rem / 16);
  margin-right: calc(5rem / 16);
  text-transform: uppercase;
  letter-spacing: calc(0.5rem / 16);
  background-color: var(--primary);
  padding: calc(5rem / 16) calc(8rem / 16);
  border-radius: calc(7rem / 16);
  color: white;
}

.post-categories a:hover {
  background-color: var(--primary-dark);
}

.search__title__phrase {
  font-weight: 800;
  color: var(--primary) !important;
}

.single {
  background-color: white;
}

.single__post__image {
  max-width: calc(900rem / 16);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.single__post__image-wrapper {
  display: block;
  width: 100%;
  overflow: hidden;
  padding-top: 66%;
  position: relative;
  margin-top: calc(15rem / 16);
}

.single__post__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single__post__image__caption {
  position: absolute;
  bottom: 0;
  left: calc(15rem / 16);
  background-color: rgba(0, 0, 0, 0.4);
}

.single__post__image__caption a {
  display: block;
  margin-top: calc(5rem / 16);
  margin-left: calc(7.5rem / 16);
  margin-right: calc(7.5rem / 16);
  margin-bottom: calc(5rem / 16);
  font-size: calc(11rem / 16);
  color: rgb(218, 218, 218);
  line-height: 1;
}

.single__post__content {
  max-width: calc(700rem / 16);
  background-color: white;
}

.single-header {
  padding-top: calc(13rem / 16);
}

.single-header__meta {
  line-height: 1;
  margin-bottom: calc(5rem / 16);
}

.single-header__meta__author {
  font-size: calc(12rem / 16);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary);
  margin-right: calc(3rem / 16);
}

.single-header__title {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: calc(15rem / 16);
  font-size: var(--font-size-h2);
}

.single-header__categories {
  margin-bottom: calc(10rem / 16);
}

.single__post__content__text {
  margin-top: calc(15rem / 16);
  margin-bottom: calc(30rem / 16);
}

.post-content p,
.post-content li,
.post-content a {
  line-height: 1.53;
  letter-spacing: calc(0.3rem / 16);
}

.post-content p,
.post-content li {
  font-weight: 400;
}

.post-content a {
  font-weight: 500;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-weight: 700;
}

.post-content h1,
.post-content h2 {
  font-size: var(--font-size-h3);
}

.post-content h3 {
  font-size: var(--font-size-h4);
}

.post-content h4 {
  font-size: var(--font-size-h5);
}

.post-content h5,
.post-content h6 {
  font-size: var(--font-size-h6);
}

.single__post__content__share {
  margin-bottom: calc(10rem / 16);
  margin-left: calc(-4rem / 16);
  margin-top: calc(40rem / 16);
}

.single__post__content__tags {
  margin-bottom: calc(20rem / 16);
}

.single__post__content__tags > h6,
.single__post__content__comments > h6 {
  font-size: var(--font-size-h5);
  padding-bottom: calc(4rem / 16);
  border-bottom: calc(1rem / 16) solid black;
  margin-bottom: calc(6rem / 16);
  font-weight: 500;
  color: rgb(96, 96, 96);
}

.single__post__content__tags > a {
  font-size: var(--font-size-p);
  text-transform: uppercase;
  margin-right: calc(10rem / 16);
  color: var(--tag-blue);
  font-weight: 600;
}

.single__post__content__tags > a:hover {
  color: var(--tag-blue-dark);
}

.wpd-thread-list {
  padding-bottom: 0 !important;
}

.wpd-form-head {
  display: none !important;
}

.wp-block-embed,
.wp-block-image {
  margin-top: calc(30rem / 16);
  margin-bottom: calc(30rem / 16);
}

.wp-block-embed.is-type-rich .wp-block-embed__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.twitter-tweet {
  max-width: calc(400rem / 16) !important;
}

.wp-block-embed.is-type-video .wp-block-embed__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding-top: 62.5%;
  position: relative;
}

.wp-block-embed.is-type-video iframe {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wp-element-caption {
  font-size: calc(12rem / 16);
  margin-top: calc(1rem / 16);
}

.tag__title {
  color: var(--tag-blue);
}

.time-ago {
  font-size: calc(12rem / 16);
  color: gray;
  font-weight: 400;
  line-height: 1;
}

.wc_comm_submit {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0 calc(10rem / 16) !important;
  padding-top: 0px !important;
  line-height: 1 !important;
  height: calc(30rem / 16) !important;
  padding-top: calc(3rem / 16) !important;
}

.wpforms-container-full {
  margin-top: 0 !important;
}

.wpforms-field {
  padding-top: 0 !important;
}

.wpforms-field-label {
  margin-bottom: calc(7rem / 16) !important;
  font-weight: 400 !important;
}

.wpforms-submit-container {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.wpforms-submit-container button {
  transition: background-color 0.1s linear;
  background-color: var(--primary) !important;
}

.wpforms-submit-container button::hover {
  background-color: var(--primary-dark) !important;
}

.category__title,
.search__title,
.tag__title,
.single__see-more__title,
.contact__title,
.about__title,
.homepage__feed__posts__title {
  font-weight: 800;
  text-transform: uppercase;
  font-size: var(--font-size-h3);
  margin-top: calc(20rem / 16);
  margin-bottom: calc(20rem / 16);
}

.category__title > span,
.search__title > span,
.tag__title > span,
.contact__title > span,
.homepage__feed__posts__title > span {
  color: #aeb2b4;
}

#comments,
#wpdcom {
  margin-bottom: 0 !important;
}

#comments,
.wpd-form-head {
  margin-top: 0 !important;
}

@media screen and (min-width: calc(576rem/16)) {
  .homepage__hero .post__text h1 {
    font-size: var(--font-size-h2);
    line-height: 1.1;
  }

  .homepage__hero .post__text p {
    font-size: calc(15rem / 16);
  }

  .homepage__hero .post__text .time-ago {
    font-size: calc(14rem / 16);
  }

  .homepage__feed__about {
    margin-top: calc(20rem / 16);
  }

  .homepage__subhero-posts .post {
    display: flex;
    flex-direction: row;
  }

  .homepage__subhero-posts .post__image {
    width: 50%;
    padding-top: 35%;
    border-radius: calc(4rem / 16) 0 0 calc(4rem / 16);
    flex-shrink: 0;
  }

  .homepage__subhero-posts .post__image img {
    border-radius: calc(4rem / 16) 0 0 calc(4rem / 16);
  }

  .homepage__subhero-posts .post__text {
    width: 50%;
  }

  .page-view {
    display: flex;
    margin-left: calc(30rem / 16);
    margin-bottom: calc(20rem / 16);
  }

  .page-view button {
    color: rgb(122, 122, 122);
  }

  .page-view button:not(:last-of-type) {
    margin-right: calc(7rem / 16);
  }

  .page-view button:hover,
  .page-view button.selected {
    color: black;
  }

  .page-view button:last-of-type svg {
    width: calc(15rem / 16);
    height: calc(15rem / 16);
  }

  .page-view button:last-of-type svg {
    width: calc(23rem / 16);
    height: auto;
    margin-top: calc(6rem / 16);
  }

  .posts-list .post-wrapper {
    margin-bottom: calc(20rem / 16) !important;
    width: 100% !important;
  }

  .posts-list .post {
    display: flex;
    flex-direction: row;
  }

  .posts-list .post__image {
    width: 50%;
    padding-top: 35%;
    border-radius: calc(4rem / 16) 0 0 calc(4rem / 16);
    flex-shrink: 0;
  }

  .posts-list .post__image img {
    border-radius: calc(4rem / 16) 0 0 calc(4rem / 16);
  }

  .posts-list .post__text {
    width: 50%;
  }
}

@media screen and (min-width: calc(601rem / 16)) {
  .pop-header.show.admin-bar {
    margin-top: calc(46rem / 16);
  }
}

@media screen and (min-width: calc(768rem / 16)) {
  blockquote {
    font-size: calc(18rem / 16);
  }

  blockquote > cite {
    font-size: calc(14rem / 16);
  }

  .contact__content {
    flex-direction: row;
  }

  .contact__content__text {
    order: 2;
    padding-left: calc(30rem / 16);
  }

  .contact__content__form {
    order: 1;
  }

  .contact__content__text > *:first-child {
    margin-top: calc(20rem / 16);
  }

  .contact__content__form,
  .contact__content__text {
    width: 50%;
  }

  .contact__content__text p,
  .contact__content__text li,
  .contact__content__text a {
    font-size: calc(16rem / 16);
    line-height: 1.6;
  }

  .homepage__hero .post__text {
    padding-top: calc(15rem / 16);
  }

  .homepage__subhero-posts .post-wrapper {
    width: 100%;
  }

  .homepage__subhero-posts .post__text h2 {
    font-size: var(--font-size-h3);
  }

  .homepage__subhero-posts .post__text {
    padding-left: calc(21rem / 16);
    padding-top: calc(15rem / 16);
    padding-right: calc(21rem / 16);
  }

  .homepage__feed__about > p {
    font-size: var(--font-size-p);
  }

  .homepage__feed__about > a {
    font-size: calc(16rem / 16);
  }

  .homepage__feed__posts {
    flex-shrink: 0;
  }

  .homepage__feed__posts__pagination.pagination {
    justify-content: flex-start;
  }

  .main-header__top__logo {
    height: calc(120rem / 16);
    top: calc(15rem / 16);
  }

  .main-header__top__menu {
    display: none;
  }

  .main-header__top__search {
    position: absolute;
    right: calc(15rem / 16);
    bottom: calc(-35rem / 16);
    z-index: 1000;
    color: black;
  }

  .main-header__top__search:hover {
    color: var(--primary);
  }

  .main-header__bottom {
    display: flex;
    background-color: white;
    border-top: calc(1rem / 16) solid var(--primary);
    border-bottom: calc(1rem / 16) solid var(--primary);
  }

  .main-header__search {
    padding: 0;
  }

  .main-header__search__form {
    position: absolute;
    width: calc(400rem / 16);
    right: calc(15rem / 16);
    bottom: calc(-50rem / 16);
    padding: 0;
    z-index: 1000;
  }

  .main-header__search__form {
    border-radius: calc(8rem / 16);
  }

  .main-header__search__form {
    border-radius: calc(8rem / 16);
  }

  .not-found__title {
    font-size: var(--font-size-h1);
    text-align: center;
  }

  .main-header__top {
    height: calc(150rem / 16);
  }

  .posts-list .post__text {
    padding-left: calc(21rem / 16);
    padding-top: calc(20rem / 16);
    padding-right: calc(21rem / 16);
  }

  .posts-list .post__text h2 {
    font-size: var(--font-size-h3);
  }

  .posts-list .post-wrapper {
    max-width: 100%;
    width: 100%;
  }

  .pop-header .container {
    justify-content: unset;
  }

  .pop-header__menu {
    display: none;
  }

  .pop-header__logo {
    position: static;
  }

  .pop-header__categories {
    display: flex;
    align-items: center;
  }

  .pop-header__categories > a {
    margin-left: calc(15rem / 16);
    font-weight: 400;
    font-size: calc(14rem / 16);
    letter-spacing: calc(0.5rem / 16);
  }

  .pop-header__categories > a.current {
    color: var(--primary);
  }

  .pop-header__trigger-search {
    margin-left: auto;
  }

  .pop-header__search__form {
    max-width: calc(300rem / 16);
    width: 100%;
    left: unset;
    margin-left: unset;
    margin-right: unset;
  }

  .single {
    background-color: var(--body-gray);
  }

  .single__post__image-wrapper {
    margin-top: calc(20rem / 16);
  }

  .single__post__image img {
    border-radius: calc(5rem / 16);
  }

  .single__post__image__caption {
    bottom: unset;
    top: 0;
  }

  .single__post__content {
    padding: calc(20rem / 16) calc(25rem / 16) 0 calc(25rem / 16);
    margin-bottom: calc(20rem / 16);
    border-radius: calc(6rem / 16);
    border: calc(1rem / 16) solid var(--border-gray);
    margin-top: calc(-150rem / 16);
    position: relative;
    z-index: 2;
  }

  .single-header__title {
    font-size: var(--font-size-h1);
  }

  .post-content p,
  .post-content li,
  .post-content a {
    font-size: calc(18rem / 16);
    line-height: 1.55;
  }

  .single__post__content .google-auto-placed {
    margin-bottom: calc(10rem / 16);
    margin-bottom: calc(5rem / 16);
  }

  .single__post__content__tags > h6,
  .single__post__content__comments > h6 {
    font-size: var(--font-size-h5);
  }

  .single__post__content__tags > a {
    font-size: calc(18rem / 16);
  }

  .wp-element-caption {
    font-size: calc(14rem / 16);
    color: gray;
    font-weight: 300;
    margin-top: calc(2rem / 16);
  }

  .single__see-more__title {
    margin-top: calc(50rem / 16);
  }
}

@media screen and (min-width: calc(783rem / 16)) {
  .pop-header.show.admin-bar {
    margin-top: calc(32rem / 16);
  }
}

@media screen and (min-width: calc(1024rem / 16)) {
  .homepage__hero {
    width: 100%;
  }

  .homepage__hero .post {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .homepage__hero .post__image {
    padding-top: 43%;
    border-radius: calc(4rem / 16) 0 0 calc(4rem / 16);
    width: 55%;
  }

  .homepage__hero .post__image img {
    border-radius: calc(4rem / 16) 0 0 calc(4rem / 16);
  }

  .homepage__hero .post__text {
    width: 45%;
    justify-content: center;
    padding: calc(10rem / 16) calc(25rem / 16) calc(10rem / 16) calc(25rem / 16);
  }

  .homepage__hero .post__text h1 {
    font-size: var(--font-size-h1);
  }

  .homepage__hero .post__text .time-ago {
    margin-bottom: calc(18rem / 16);
  }

  .homepage__hero .post__text .post-categories {
    margin-top: 0;
  }

  .homepage__subhero-posts {
    display: flex;
    flex-direction: row;
  }

  .homepage__subhero-posts .post-wrapper {
    width: 33.33333333%;
  }

  .homepage__subhero-posts .post .post__text {
    padding-left: calc(15rem / 16);
    padding-bottom: calc(8rem / 16);
  }

  .homepage__subhero-posts .post .post__text > h2 {
    font-size: var(--font-size-p);
    font-weight: 500;
  }

  .homepage__subhero-posts .post .post__text > p {
    display: none;
  }

  .homepage__subhero-posts .post .post__text > .time-ago {
    margin-bottom: calc(10rem / 16);
  }

  .homepage__subhero-posts .post .post__text > .post-categories {
    margin-top: auto;
  }

  .homepage__feed {
    flex-direction: row;
    align-items: flex-start;
  }

  .homepage__feed__about {
    min-width: calc(200rem / 16);
    margin-top: calc(100rem / 16);
    padding: calc(15rem / 16) calc(20rem / 16);
    background-color: #e7ebee;
    border-radius: calc(4rem / 16);
    order: 2;
    width: 25%;
  }

  .homepage__feed__about > h3 {
    text-align: left;
    font-size: var(--font-size-h5);
    margin-bottom: calc(10rem / 16);
    color: black;
  }

  .homepage__feed__about > p {
    text-align: left;
    font-size: calc(14rem / 16);
    margin-bottom: calc(10rem / 16);
    color: #535353;
    line-height: 1.4;
  }

  .homepage__feed__about > a {
    margin-left: auto;
    font-size: calc(14rem / 16);
    margin-right: 0;
  }

  .homepage__feed__posts {
    order: 1;
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-right: calc(20rem / 16);
  }

  .homepage__feed__posts__title {
    margin-top: calc(15rem / 16);
    font-size: var(--font-size-h2);
    color: #000000;
  }

  .page-view {
    margin-bottom: calc(30rem / 16);
  }

  .post__text > h2,
  .post__text > h1 {
    font-size: calc(22rem / 16);
  }

  .posts-list .post-wrapper {
    max-width: calc(860rem / 16);
  }

  .category__title,
  .search__title,
  .tag__title,
  .single__see-more__title,
  .contact__title,
  .about__title,
  .homepage__feed__posts__title {
    font-size: var(--font-size-h2);
    margin-top: calc(30rem / 16);
    margin-bottom: calc(30rem / 16);
  }

  .homepage__feed__posts__title {
    margin-top: calc(30rem / 16);
  }
}

.wp-block-pullquote {
  padding: calc(10rem / 16);
}

//WPFORMS

.wpforms-container {
  margin-bottom: calc(24rem / 16);
}

.wpforms-container-full {
  width: 100% !important;
}

.wpforms-submit {
  background-color: var(--primary) !important;
  color: white !important;
  height: (calc(45rem / 16)) !important;
  font-size: (calc(16rem / 16)) !important;
  border: none !important;
  border-radius: (calc(3rem / 16)) !important;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wpforms-submit:hover {
  background-color: var(--primary-dark) !important;
}

.wpforms-submit-spinner {
  display: none !important;
}

.wpforms-field-large {
  height: (calc(50rem / 16)) !important;
  border: (calc(1rem / 16)) solid rgba(0, 0, 0, 0.25) !important;
  border-radius: (calc(3rem / 16));
}

.wpforms-field-large,
.wpforms-field-medium {
  padding: calc(5rem / 16) calc(10rem / 16);
}

.wpforms-field-large.wpforms-error {
  border: (calc(1rem / 16)) solid rgb(214, 54, 55) !important;
}

.wpforms-field-textarea textarea {
  height: (calc(150rem / 16)) !important;
}

em.wpforms-error {
  color: rgb(214, 54, 55);
  margin-top: calc(2rem / 16);
  font-style: normal;
}

.wpforms-confirmation-scroll {
  border-color: 0 !important;
  border: none !important;
  color: white !important;
  font-size: (calc(14rem / 16)) !important;
  padding: (calc(12rem / 16)) (calc(14rem / 16)) !important;
  font-weight: 500 !important;
  border-radius: (calc(3rem / 16)) !important;
  background-color: rgb(7, 173, 7) !important;
}

@media screen and (min-width: calc(768rem / 16)) {
  .wpforms-confirmation-scroll {
    margin-top: 1.6rem;
  }
}

.wpforms-confirmation-scroll > p {
  padding-bottom: 0;
  margin-bottom: 0;
}

.wpforms-field {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(15rem / 16);
}

.wpforms-field-label {
  margin-bottom: 0;
  font-weight: 300;
}

.wpforms-submit {
  transition: background-color 0.1s linear;
}

label.wpforms-error {
  bottom: calc(-20rem / 16);
  font-size: calc(13rem / 16);
  color: rgb(202, 23, 23);
  margin-bottom: 0;
}

.wpforms-required-label {
  color: rgb(202, 23, 23);
}

#wpforms-error-noscript {
  display: none !important;
}

#wpforms-form-11-submit-btn-disabled {
  display: none;
}

.post-categories .post-comments {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  transition: background-color 0.1s linear;
  border: calc(1rem / 16) solid black;
}

.post-categories .post-comments:hover {
  background-color: rgb(242, 242, 242);
}

.post-categories .post-comments svg {
  width: calc(13rem / 16);
  height: auto;
  margin-right: calc(5rem / 16);
}
