.contact {
  display: flex;
  flex-direction: column;
}

.contact__content {
  display: flex;
  flex-direction: column;
}

.contact__content__text {
  order: 1;
  margin-bottom: 2rem;
}

.contact__content__form {
  order: 2;
}

.contact__content__text > *:first-child {
  margin-top: 0rem;
}

.wpforms-container-full {
  margin-top: 0 !important;
}

.wpforms-field {
  padding-top: 0 !important;
}

.wpforms-field-label {
  margin-bottom: 0.7rem !important;
  font-weight: 400 !important;
}

.wpforms-submit-container {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.wpforms-submit-container button {
  transition: background-color 0.1s linear;
  background-color: var(--primary) !important;
}

.wpforms-submit-container button::hover {
  background-color: var(--primary-dark) !important;
}

@media screen and (min-width: 768px) {
  .contact__content {
    flex-direction: row;
  }

  .contact__content__text {
    order: 2;
    padding-left: 3rem;
  }

  .contact__content__form {
    order: 1;
  }

  .contact__content__text > *:first-child {
    margin-top: 2rem;
  }

  .contact__content__form,
  .contact__content__text {
    width: 50%;
  }

  .contact__content__text p,
  .contact__content__text li,
  .contact__content__text a {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}
