.homepage {
  display: flex;
  flex-direction: column;
}

.homepage__hero {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.homepage__subhero-posts .post-wrapper {
  margin-bottom: 2rem;
}

.homepage__feed {
  display: flex;
  flex-direction: column;
}

.homepage__feed__about {
  order: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.homepage__feed__about > h3 {
  font-size: var(--font-size-h4);
  color: black;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

.homepage__feed__about > p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: black;
  text-align: center;
}

.homepage__feed__about > a {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: var(--primary);
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

.homepage__feed__about > a:first-of-type {
  margin-bottom: 0rem;
}

.homepage__feed__about > a:hover {
  color: var(--primary-dark);
}

.homepage__feed__posts {
  order: 2;
  flex-grow: 1;
}

/*  */
/*  */
/*  */
/*  */
/*  */

@media screen and (min-width: 576px) {
  .homepage__hero .post__text h1 {
    font-size: var(--font-size-h2);
    line-height: 1.1;
  }

  .homepage__hero .post__text p {
    font-size: var(--font-size-p);
  }

  .homepage__hero .post__text .time-ago {
    font-size: 1.4rem;
  }

  .homepage__feed__about {
    margin-top: 2rem;
  }

  .homepage__subhero-posts .post {
    display: flex;
    flex-direction: row;
  }

  .homepage__subhero-posts .post__image {
    width: 50%;
    padding-top: 35%;
    border-radius: 0.4rem 0 0 0.4rem;
    flex-shrink: 0;
  }

  .homepage__subhero-posts .post__image img {
    border-radius: 0.4rem 0 0 0.4rem;
  }

  .homepage__subhero-posts .post__text {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .homepage__hero .post__text {
    padding-top: 1.5rem;
  }

  .homepage__subhero-posts .post-wrapper {
    width: 100%;
  }

  .homepage__subhero-posts .post__text h2 {
    font-size: var(--font-size-h3);
  }

  .homepage__subhero-posts .post__text {
    padding-left: 2.1rem;
    padding-top: 1.5rem;
    padding-right: 2.1rem;
  }

  .homepage__feed__about > p {
    font-size: var(--font-size-p);
  }

  .homepage__feed__about > a {
    font-size: 1.6rem;
  }

  .homepage__feed__posts {
    flex-shrink: 0;
  }

  .homepage__feed__posts__pagination.pagination {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .homepage__hero {
    width: 100%;
  }

  .homepage__hero .post {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .homepage__hero .post__image {
    padding-top: 43%;
    border-radius: 0.4rem 0 0 0.4rem;
    width: 55%;
  }

  .homepage__hero .post__image img {
    border-radius: 0.4rem 0 0 0.4rem;
  }

  .homepage__hero .post__text {
    width: 45%;
    justify-content: center;
    padding: 1rem 2.5rem 1rem 2.5rem;
  }

  .homepage__hero .post__text h1 {
    font-size: var(--font-size-h1);
  }

  .homepage__hero .post__text .time-ago {
    margin-bottom: 1.8rem;
  }

  .homepage__hero .post__text .post-categories {
    margin-top: 0;
  }

  .homepage__subhero-posts {
    display: flex;
    flex-direction: row;
  }

  .homepage__subhero-posts .post-wrapper {
    width: 33.33333333%;
  }

  .homepage__subhero-posts .post .post__text {
    padding-left: 1.2rem;
    padding-bottom: 0.8rem;
  }

  .homepage__subhero-posts .post .post__text > h2 {
    font-size: var(--font-size-p);
    font-weight: 400;
  }

  .homepage__subhero-posts .post .post__text > p {
    display: none;
  }

  .homepage__subhero-posts .post .post__text > .time-ago {
    margin-bottom: 1rem;
  }

  .homepage__subhero-posts .post .post__text > .post-categories {
    margin-top: auto;
  }

  .homepage__feed {
    flex-direction: row;
    align-items: flex-start;
  }

  .homepage__feed__about {
    min-width: 20rem;
    margin-top: 8.6rem;
    padding: 1.5rem 2rem;
    background-color: #e7ebee;
    border-radius: 0.4rem;
    order: 2;
    width: 25%;
  }

  .homepage__feed__about > h3 {
    text-align: left;
    font-size: var(--font-size-h5);
    margin-bottom: 1rem;
    color: black;
  }

  .homepage__feed__about > p {
    text-align: left;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #535353;
  }

  .homepage__feed__about > a {
    margin-left: auto;
    font-size: 1.4rem;
    margin-right: 0;
  }

  .homepage__feed__posts {
    order: 1;
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-right: 2rem;
  }

  .homepage__feed__posts__title {
    margin-top: 1.5rem;
    font-size: var(--font-size-h2);
    color: #000000;
  }
}
